#My programs
cuda_spinchain
comparacion
test_routines
eigenvalues
diagonalize

tareas

*zip

*.bbl
*.blg

#Results and graphs
*.dat
*.log
*swp
*swo
*aux
*log
*pdf
*out
*.*~
*.unison*
*.ipynb_checkpoints/
*.gpu

**/*log
**/*pdf
**/*aux
**/*out
**/*nav

*nav 
*snm
*toc
program_description/dicu_2013.nav
#Excepcions
!program_description/images/*.pdf
!program_description/*.txt
!program_description/*.dat

